<div class="container">
    <mat-card appearance="outlined">
        <mat-card-title>{{titulo}}</mat-card-title>

        <form [formGroup]="form" (ngSubmit)="salvar()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome" placeholder="Ex: Brasil">
                <mat-error *ngIf="form.get('nome')?.hasError('required')">
                    O nome é obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Telefone</mat-label>
                <input matInput formControlName="telefone" placeholder="Ex: (11) 99999-9999">
                <mat-error *ngIf="form.get('telefone')?.hasError('required')">
                    O telefone é obrigatório
                </mat-error>
                </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Ex: email@dominio.com">
                <mat-error *ngIf="form.get('email')?.hasError('required')">
                    O email é obrigatório
                </mat-error>
            </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Time Favorito</mat-label>
                    <mat-select formControlName="timeFavorito" [compareWith]="compararTimes">
                        <mat-option *ngFor="let time of times" [value]="time">
                            {{ time.nome }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Observação</mat-label>
                <input matInput formControlName="observacao" placeholder="Ex: Observações sobre o cliente">
            </mat-form-field>

            <div class="actions">
                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
                    Salvar
                </button>
                <button mat-button type="button" (click)="cancelar()">Cancelar</button>
            </div>
        </form>
    </mat-card>
</div>