.form-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.half-width {
  flex: 1;
  min-width: 250px;
}

.third-width {
  flex: 1;
  min-width: 200px;
}

.full-width {
  width: 100%;
}
.example-card {
  width: 90%;
  max-width: 2000px;
  padding: 20px;
}
.container{
  display: flex;
  justify-content: center
}
